# Gradle build folder
/build/
/out/

# VSCode files
.vscode/

# Gradle wrapper logs and caches
.gradle/
.gradle-cache/

# Build outputs
/bin/
/build/
/run/
run-data/

# MacOS files
.DS_Store

Thumbs.db
LICENSE.txt

# Log files
*.log

# Other temp or user config files
*.tmp
*.swp
